<footer>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 col-lg-offset-6">
            <div class="footer__info animated-element--contentfadein">
                <h3 class="footer__info__title">Contact</h3>
                <ul class="footer__info__list">
                    <li><a href="tel:640277406398" target="_blank">+64 0277406398</a></li>
                    <li><a href="mailto:ryan.lloyd.french@gmail.com" target="_blank">ryan.lloyd.french@gmail.com</a></li>
                </ul>
                <div class="footer__info__break"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="footer__info animated-element--contentfadein">
                <h3 class="footer__info__title">Social</h3>
                <ul class="footer__info__list">
                    <li><a href="www.twitter.com/ryan_french" target="_blank">Twitter</a></li>
                    <li><a href="www.linkedin.com/in/ryanlloydfrench" target="_blank">Linkedin</a></li>
                    <li><a href="www.dribbble.com/ryanfrench" target="_blank">Dribbble</a></li>
                    <li><a href="www.instagram.com/ryan_french" target="_blank">Instagram</a></li>
                </ul>
                <div class="footer__info__break"></div>
            </div>
        </div>
    </div>
</footer>
