.about {
    &__title {
        margin: 0;
        display: inline-block;
        padding-bottom: 1rem;
        border-bottom: 2px solid $alt-color;
    }
    &__image {
        margin-bottom: 2rem;
    }
}
