header {
    background-color: $secondary-bg-color;
    padding: 2.5rem 4rem;
}

.logo {
    display: inline-block;
    float: left;
    svg {
        width: 35px;
        height: 35px;
        fill: $primary-color;
    }
}
