header {
    text-align: center;
}

.header {
    &__title {
        font-family: $ffmeta;
        font-weight: 200;
        font-size: 30px;
        max-width: 800px;
        margin: 0 auto;
    }
    &__sub-title {
        @extend .uppercase-text-large;
        margin: 0;
    }
    &__break {
        width: 80px;
        height: 3px;
        background-color: $alt-color;
        margin: 1.2rem auto;
    }
}
