.post-overview {
    text-align: center;
    padding: 2.5rem 0;
    border-bottom: 2px solid darken($bg-color-dark, 4%);
    &__title {
        margin: .7rem 0 1.4rem;
        a {
            text-decoration: none;
            color: $text-color;
        }
    }
    &__date {
        @extend .uppercase-text-small;
        a {
            text-decoration: none;
            color: $text-color;
        }
    }
    &__category {
        @extend .uppercase-text-extrasmall;
        margin-right: .3rem;
        &:last-child {
            margin-right: 0;
        }
        a {
            border-radius: 2px;
            transition: background-color $fast-transition;
            color: white;
            background-color: $alt-color;
            text-decoration: none;
            padding: .2rem .4rem;
            display: inline-block;
            &:hover,
            &:focus {
                background-color: darken($alt-color, 10%);
            }
        }
    }
}

.post {
    &__title {
        max-width: 800px;
        margin: 0 auto 4rem;
        @include small-tablet {
            margin: 0 auto 2rem;
        }
    }
    &__sub-title {
        @extend .uppercase-text-large;
        @extend .h5_size;
        margin: 0;
    }
    &__break {
        width: 80px;
        height: 3px;
        background-color: $alt-color;
        margin: 1.2rem auto;
        @include small-tablet {
            height: 2px;
            margin: 0.8rem auto;
        }
    }
    &__content {
        font-family: $ffmeta;
        font-weight: $ffmeta-light;
        font-size: 1.1rem;
        line-height: 1.7;
        @include small-tablet {
            font-size: 0.9rem;
        }
        a {
            text-decoration: underline;
        }
    }
}
