html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

::selection,
::-moz-selection {
    color: white;
    background-color: $alt-color;
}

body {
    color: $text-color;
    background-color: $bg-color;
}

.wrapper {
    margin: 0 auto;
    max-width: 1600px;
}

.content-padding {
    padding: 4.5rem 4rem;
}
