html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
    color: $primary-color;
    background-color: $primary-bg-color;
}

.wrapper {
    margin: 0 auto;
    max-width: 1600px;
}

.content-padding {
    padding: 3rem 4rem;
}
