$fast-transition: 300ms;

.animated-scene {
    .animated-element-fadein {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
    .animated-element-navfadeindown {
        -webkit-animation-duration: 400ms;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: navFadeInDown;
        animation-name: navFadeInDown;
        -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &.is-exiting {
        .animated-element-navfadeindown {
            -webkit-animation-direction: alternate-reverse;
            animation-direction: alternate-reverse;
        }
        .animated-element-delayed {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        .animated-element-noexiting {
            -webkit-animation-direction: alternate-reverse;
            animation-direction: alternate-reverse;
        }
    }
}

@-webkit-keyframes navFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -250%, 0);
    transform: translate3d(0, -250%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes navFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -250%, 0);
    transform: translate3d(0, -250%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@for $i from 1 to 4 {
    nav ul li:nth-child(#{$i}) {
        -webkit-animation-delay: $i * 0.08s;
        animation-delay: $i * 0.08s;
    }
}
