$fast-transition: 300ms;

.animated-scene {
    .animated-element-fadein {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
    .animated-element-navfadeindown {
        -webkit-animation-duration: 400ms;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: navFadeInDown;
        animation-name: navFadeInDown;
        -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
        transition:         all cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .animated-element-logofadeindown {
        -webkit-animation-duration: 400ms;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: logoFadeInDown;
        animation-name: logoFadeInDown;
        -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
        transition:         all cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &.is-exiting {
        .animated-element-logofadeindown,
        .animated-element-navfadeindown {
            -webkit-animation-direction: alternate-reverse;
            animation-direction: alternate-reverse;
        }
        .animated-element-delayed {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        .animated-element-noexiting {
            -webkit-animation-direction: alternate-reverse;
            animation-direction: alternate-reverse;
        }
    }
}

@-webkit-keyframes logoFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes logoFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes navFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -250%, 0);
    transform: translate3d(0, -250%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes navFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -250%, 0);
    transform: translate3d(0, -250%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

nav {
    ul li {
        &:nth-child(1) {
            -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
        }
        &:nth-child(2) {
            -webkit-animation-delay: 380ms;
            animation-delay: 380ms;
        }
        &:nth-child(3) {
            -webkit-animation-delay: 460ms;
            animation-delay: 460ms;
        }
    }
}
