---
layout: default
title: Journal – Ryan French
---
<div class="row">
    <div class="col-xs-12">
        <header>
            <h1 class="header__sub-title animated-element--titlefadeindown">Journal – Articles</h1>
            <div class="header__break animated-element--titlebreakfadeindown"></div>
        </header>
    </div>
</div>

<div class="row">

    <div class="col-xs-12">

        {% for post in paginator.posts %}
            <article class="post-overview animated-element--contentfadein">
                <span class="post-overview__date"><a href="{{ post.url }}">{{ post.date | date: '%B %d, %Y' }}</a></span>
                <h1 class="post-overview__title"><a href="{{ post.url }}">{{ post.post-title }}</a></h1>
                {% if post.categories %}
                    {% for category in post.categories %}
                        <span class="post-overview__category"><a href="/journal/category/{{ category }}/">{{ category }}</a></span>
                    {% endfor %}
                {% endif %}
            </article>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            <div class="post-pagination animated-element--contentfadein">
              {% if paginator.previous_page %}
                <a class="post-pagination__button" href="{{ paginator.previous_page_path }}" class="previous">Previous Page</a>
              {% endif %}
              {% if paginator.next_page %}
                <a class="post-pagination__button" href="{{ paginator.next_page_path }}" class="next">Next Page</a>
              {% endif %}
              <span class="post-pagination__number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
            </div>
        {% endif %}

    </div>

</div>
